
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}


body{
    background: #171933;
    color: rgb(255, 255, 255);
}

h1,h2{
    color: #f7f7f7e8;
    font-size: clamp(18px, 10vw, 25px);
}
h3,h4{
    color: #f7f7f7e8;
    font-size: clamp(16px, 10vw, 20px);
}

small{
    color: #ffffff91;
}


/* #########################
   NAVBAR STYLE
########################### */

header{
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 10px #86868600;
    position:sticky;
    top: 0;
    z-index: 50;
    background: #22244d;
}
header nav{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 1.5em;
}


/* #########################
   CONTAINER STYLE
########################### */

.container{
    max-width: 1200px;
    width: 90%;
    margin:2em auto;
    position: relative;
}
.container .act-content,
.container .act-content .acts{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
}
.container .block-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    column-gap: 2em;
    position:relative;
}
.container .questions{
    display: block;
    margin-top: 1.5em;
}
.container .block-container .left-content{
   display: flex;
   justify-content: lelt;
   column-gap: 2em;
   row-gap: 0.5em;
   padding: 15px;
   margin-top: 0.2em;
   border-bottom: 1px solid #26284e50;
}
.container .block-container .left-content:hover{
    background: linear-gradient(#22244d00,#22244d65);
    box-shadow: 0 14px 20px #0000001e;
 }

.container :is(.block-container img){
    width: 60px;
    border-radius: 50%;
}
.container .block-container .content{
    width: 100%;
}
.container .block-container .reactions{
    display: flex;
    column-gap: 1.5em;
    margin-top: 10px;
    color: #f7f7f7a4;
}
.container .block-container .question-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
}
.block-container .question-content p{
    background: #151b36;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid #202950;
}


/* Others questions */

.right-content{
    margin-top: 1.5em;
    background: #22244d86;
    position:sticky;
    top: 150px;
    padding: 10px;
    height: 50%;
    border-radius: 5px;
    box-shadow:0 0 20px #121938;
}
.right-content h3{
    border-bottom: 1px solid #36406b;
    padding: 1em 0;
}
.right-content .other-questions{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    color: #123eff;
    margin-top: 1.5em;
}
.right-content .other-questions p{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    color: #123eff;
}

































/* .thumbenail{
    position: relative;
}
.thumbenail::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #00000089;
}

.search-container{
    margin-top: 50px;
} */